<?xml version="1.0" encoding="utf-8"?>
<servers>
  <server>
    <name>
     <![CDATA[CS 1.8 RUS]]> 
    </name>
    <url>
      <![CDATA[http://localhost/cs18/update.xml]]>
    </url>
    <version>
      <![CDATA[1.1]]>
    </version>
  </server>
  <server>
    <name>
      <![CDATA[CS 1.8 ENG]]>
    </name>
    <url>
      <![CDATA[http://localhost/cs18eng/update.xml]]>
    </url>
    <version>
     <![CDATA[1.2]]>
    </version>
  </server>
  
</servers>